<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY5Fj0Xpi4hioF2-iNMy7MIXeR7tiY9gg</string>
	<key>GCM_SENDER_ID</key>
	<string>491292574746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.montoyo.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-c38f7</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-c38f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491292574746:ios:078693da3bae62e187fda3</string>
</dict>
</plist>